<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make an appointment</title>
</head>
<body>
    <h1>Make an appointment</h1>
    <from action="{% url 'appointments:make_appointment' %}" method="POST">
        {% csrf_token %}
        <label for="client_name">Your name</label>
        <input type="text" name="client_name"><br>
        <label for="message">Short description of your visit</label>
        <input type="text" name="message"><br>
        <label for="date">Choose date</label>
        <input type="date" name="date"><br>
        <input type="submit" value="Submit">
        <a href="/created"><input type="button" value="back"></a>
        <input type="button" value="Redirect" onclick="location.href=/created">
    </from>
</body>
</html>